root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{c, cpp, h, hpp, js}]
indent_style = space
indent_size = 8
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.py]
indent_style = space
indent_size = 4

[*.json]
indent_style = tab
indent_size = 8
